<!DOCTYPE html>
<html>
<head>
	<title>Katie's Blog</title>
</head>
<body>
	<div>
		<h1>My Blog</h1>
	</div>
	<div>
		<p>yo yo yo</p>
		<p>I have a crappy website where I talk about stuff I like and don't like.</p>
	</div>
	<div>
		<h2><strong>Like</strong></h2>
		<ul>
			<li>the beach</li>
			<li>my dog, kevin</li>
			<li>cooking</li>
			<li>pizza</li>
			<li>hanging out with friends</li>
		</ul>
	</div>
	<div>
		<h2><strong>Don't Like</strong></h2>
			<ul>
				<li>mushrooms</li>
				<li>doing laundry</li>
				<li>internet provider</li>
				<li>snakes</li>
			</ul>	
	</div>
</body>
</html>